/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 50px;
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.8622279884540929) 63%, rgba(82,121,156,1) 63%);
}

.main-content {
  margin: 20px;
}
.info {
  background-image: url('../images/frame.png');
  padding: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
.info h1 {
  color: #042950;
}

.navClass {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navClass div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navClass div h4{
  font-size: 0.5rem;
}

.homeLogo {
  margin-right: 15px;
  background-color: #52799c;
  -webkit-box-shadow: -2px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: -2px 0px 14px 0px rgba(0,0,0,0.75);
  height: 30px;
  padding: 4px 10px;
}

.homeLogo p {
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-left: 5px;
}

.homeLogo img{
  height: 1.5rem;
}
.brandLogo{
  height: 4rem;
  margin-left: 7px;
}

.links {
  display: flex;
  justify-content: center;
}

.links li {
  list-style: none;
  padding: 0 10px;
  color: #52799c;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.links li:last-child {
  color: lightgray;
}

.stores {
  margin-top: 8%;
}